
button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

a,
a:hover {
  text-decoration: none;
  display: inline-block;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

img {
  display: inline-block;
  max-width: 100%;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1300px;
  }
}

#main-carousel {
  text-shadow: 1px 2px 3px #0000001f;
}

#main-carousel h5 {
  font-size: 3rem;
  font-family: inherit;
  font-weight: 300;
  -webkit-animation: leftToRight 1s ease-in-out .5s;
          animation: leftToRight 1s ease-in-out .5s;
}

#main-carousel h2 {
  font-size: 6.6rem;
  font-weight: 900;
  font-family: inherit;
  letter-spacing: 2px;
  -webkit-animation: topToBottom 1s linear .3s;
          animation: topToBottom 1s linear .3s;
}

#main-carousel .carousel-caption {
  right: 15%;
  bottom: unset;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: left;
}

#main-carousel .carousel-control-next,
#main-carousel .carousel-control-prev {
  top: 50%;
  bottom: unset;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4%;
  font-size: 3.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px;
  -webkit-transition: 5s all;
  transition: 5s all;
}

#main-carousel .carousel-control-next {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

#main-carousel .carousel-control-prev {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

#main-carousel .btn-info {
  background: transparent;
  text-transform: uppercase;
  border: 0;
  font-family: "jost";
  font-size: 1.8rem;
  position: relative;
  padding: 20px 0 0;
  margin: 20px 0 0;
}

#main-carousel .btn-info::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 63px;
  height: 5px;
  background-color: #fff;
}

.home__form {
  padding: 1.5rem;
  background-color: #fff;
  -webkit-box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  top: -50px;
  font-size: 1.6rem;
      width: 80%;
    margin: auto;
}

.home__form h3 {
  font-size: 2.6rem;
  font-weight: bold;
}

.home__form p {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.home__form form {
  text-align: left;
}

.home__form form label {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.7);
  font-family: "jost";
}

.home__form form .input-box {
  position: relative;
}

.home__form form .input-box .fa {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-left: 1px solid #cdcdcd;
  padding: 3px 15px 3px 10px;
  color: #898989;
}

.home__form form .input-box input {
  height: 45px;
}

.home__form form .input-box textarea,
.home__form form .input-box input {
  border-color: #efefef;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-size: 1.6rem;
  padding: 10px;
  caret-color: #fc5546;
}

.home__form form .input-box textarea:focus + .fa,
.home__form form .input-box input:focus + .fa {
  color: #fc5546;
  border-color: #fc5546;
}

.home__form form .input-box textarea:not(:placeholder-shown),
.home__form form .input-box input:not(:placeholder-shown) {
  border-color: green;
}


.btn-more {
  font-size: 1.6rem;
  color: #000;
  font-family: "jost";
}

.btn-more span {
  border-bottom: 1px dotted #000;
}


@-webkit-keyframes leftToRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
  80% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    opacity: .7;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes leftToRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
  80% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    opacity: .7;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes topToBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  80% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: .7;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes topToBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  80% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: .7;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/*-------------- Section des activities -----------------*/

.title-activity {
  text-align: left;
  color: #000;
  font-weight: 100;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 15px;
  width: 100%;
}

.wrapper {
  width: 100%;
  display: block;
  position: relative;
  background: #ECEAF1;
  padding-bottom: 50px;
}
.wrapper:after {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  top: 0;
  left: 0;
  z-index: 1;
  opacity: .6;
}
.wrapper .container {
  z-index: 2;
  position: relative;
}

.ticket-card {
  margin-top: 15vh;
  margin-bottom: 15vh;
  background: #FFFFFF;
  border-radius: 4px;
}
.ticket-card:hover .cover img, .ticket-card.active .cover img {
  -moz-transform: translate(0, -20px);
  -o-transform: translate(0, -20px);
  -ms-transform: translate(0, -20px);
  -webkit-transform: translate(0, -20px);
  transform: translate(0, -20px);
  box-shadow: 0 10px 20px -4px rgba(22, 22, 22, 0.5);
}
.ticket-card .cover {
  border-radius: 4px 4px 0 0;
  position: relative;
  margin: 15px;
}
.ticket-card .cover img {
  width: 100%;
  position: relative;
  z-index: 2;
  margin-top: -30px;
  box-shadow: 0 10px 16px -6px rgba(22, 22, 22, 0.5);
  border-radius: 4px;
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 300ms ease, opacity 300ms ease;
  -moz-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 300ms ease, opacity 300ms ease;
  -o-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 300ms ease, opacity 300ms ease;
  -ms-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 300ms ease, opacity 300ms ease;
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 300ms ease, opacity 300ms ease;
}
.ticket-card .cover .info {
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 0 15px;
  color: #777777;
}
.ticket-card .cover .info .going,
.ticket-card .cover .info .tickets-left {
  padding-bottom: 10px;
  border-bottom: 1px solid #f3f3f3;
  width: 50%;
}
.ticket-card .cover .info .going {
  float: left;
}
.ticket-card .cover .info .tickets-left {
  float: right;
  text-align: right;
}
.ticket-card .cover .info .fa {
  color: #CCCCCC;
  margin-right: 5px;
}
.ticket-card .artist {
  float: left;
}
.ticket-card .artist .info {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: #BBBBBB;
  margin-bottom: 0;
}
.ticket-card .artist .name {
  font-weight: 200;
  font-size: 22px;
  margin-top: 5px;
}
.ticket-card .ticket {
  float: left;
}
.ticket-card .ticket small {
  font-size: 75%;
}
.ticket-card .price {
  float: right;
  text-align: right;
}
.ticket-card .price .from {
  color: #BBBBBB;
}
.ticket-card .price .value {
  font-size: 28px;
  font-weight: 200;
  color: #00bbff;
  margin-top: -5px;
}
.ticket-card .price .value b {
  font-size: 18px;
  font-weight: 200;
}
.ticket-card .list-unstyled {
  max-height: 200px;
  overflow-x: scroll;
  background: #EEEEEE;
  margin-bottom: 0;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.ticket-card .list-unstyled li {
  border-bottom: 1px dotted #CCCCCC;
  padding: 5px 30px;
  overflow: hidden;
  width: 100%;
  display: block;
  position: relative;
}
.ticket-card .list-unstyled li .btn-buy {
  position: absolute;
  right: 15px;
  top: 13px;
  padding: 8px 20px;
  border-radius: 6px;
  background: #00bbff;
  border: 0;
  opacity: 0;
  -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 300ms ease, opacity 300ms ease;
  -moz-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 300ms ease, opacity 300ms ease;
  -o-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 300ms ease, opacity 300ms ease;
  -ms-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 300ms ease, opacity 300ms ease;
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 300ms ease, opacity 300ms ease;
}
.ticket-card .list-unstyled li:hover .btn-buy {
  opacity: 1;
}
.ticket-card .list-unstyled li:last-child {
  border-bottom: none;
}
.ticket-card .list-unstyled li:before, .ticket-card .list-unstyled li:after {
  display: table;
  content: " ";
  clear: both;
}
.ticket-card .list-unstyled li .price .value {
  color: #444444;
  font-size: 22px;
  margin-top: 10px;
}
.ticket-card .body {
  padding: 5px 30px;
}
.ticket-card .body .info {
  color: #777777;
}
.ticket-card .body .location,
.ticket-card .body .date {
  padding-top: 10px;
  width: 50%;
}
.ticket-card .body .location {
  float: left;
}
.ticket-card .body .date {
  float: right;
  text-align: right;
}
.ticket-card .body .fa {
  color: #CCCCCC;
  margin-right: 5px;
}
.ticket-card .footer {
  width: 100%;
  background: transparent;
  border-top: 1px dotted #BBBBBB;
  border-radius: 0;
  padding: 15px 8px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #666666;
  box-shadow: none;
}
.ticket-card .footer .btn:focus, .ticket-card .footer .btn:hover, .ticket-card .footer .btn:active {
  outline: none !important;
}
